# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source
src/generated

# test & build
/coverage
/.next/
/.nitro
/.output
/out/
/build
.build
/dist
*.tsbuildinfo
.tanstack

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# others
.env*.local
.vercel
next-env.d.ts

### Intellij ###
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/
# Claude Code (personal)
.claude
